/* 

	heavily inspired by Typing Carousel Effect
	https://codepen.io/josephwong2004/pen/ExgoKde 

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
	font-family: Roboto, sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 42px;
	font-weight: 700;
	font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-container .input-cursor {
  display: inline-block;
  width: 2px;
	color: #fff;
  margin-left: 8px;
  animation: blink 600ms linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
