/* 

	heavily inspired by Typing Carousel Effect
	https://codepen.io/josephwong2004/pen/ExgoKde 

*/

.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-container .input-cursor {
  display: inline-block;
  width: 2px;
	color: #fff;
  margin-left: 8px;
  animation: blink 600ms linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
